h1 {color:white;
  font-size: 90pt;
}


.serif {
  font-family: "Times New Roman", Times, serif;
}

.custom-navlink {
  color: white;
}

p {color: white;
font-size: 30pt;}

.titel {
  z-index:100;
  position:absolute;
  width: 100%;
  height: auto;
  top: 30%;
  text-align:center;
}
